.foto{
    width: 1000px;
    height: 1000px;
    margin-left: 23%;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    
}

  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.diw{
    clear:both;
}
.aboutme{
    float:left;
    margin-left: 10%;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     color:white;

}
.contact{
    font-size: 30px;
    position: fixed;
    left:1600px;
    color:white;
}
html {
    background-image: url(https://i.pinimg.com/originals/6b/b8/bf/6bb8bfc93f4d236c5cb8446c4ed2f5fe.jpg);
    background-repeat: no-repeat;   
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    }
    .name{
        margin-left: 40%;
        margin-top: 5%;
        font-size: 30px;
        color:white;
    }
    a:link {
        color: #fdfdfc;
      }
      
      a:visited {
        color: #f7f8f6;
      }
      
      a:focus {
        border-bottom: 1px solid;
        background: #BAE498;
      }
      
      a:hover {
        border-bottom: 1px solid;
        background: #CDFEAA;
      }
      
      a:active {
        background: #265301;
        color: #CDFEAA;
      }
      .ya{
        color:white;
        font-size: 30px;
        margin-left: 40%;
      }
      .work{
        color:white;
        font-size: 35px;
        margin-left:40%;
      }
      .workday{
        color:white;
        font-size: 30px;
        margin-left:25%;
        margin-right: 20%;
        text-indent: 40px;
      }
.telegramm{
    margin-left: 40%;
    width: 300px;
    height: 300px;
    margin-left:550px;
}
.cont{
    color:white;
    font-size: 35px;
    margin-left:40%;
margin-top: 20%;
}
.vk{
    width: 300px;
    height: 300px;

}